/* add this line to the head section of the site, likely in theme.liquid */
/* {{ 'frontrow.css' | asset_url | stylesheet_tag }} */
/* search for {% endstyle %} and put this line below that */

/* modal styles: START */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 24px;
  width: 90%;
  max-width: 450px;
  border-radius: 0.5rem;
  font-size: 16px;
  color: #212121;
}

.modal-header-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.modal-title {
  color: #212121;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.modal-content > p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.close {
  color: #212121;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-note {
  font-style: italic;
}

.modal-link {
  font-weight: 700;
  text-decoration: underline;
  color: #212121;
  line-height: 24px;
}
/* modal styles: END */


/* quantitative data widget styles: START */
.frontrow-container {
  display: flex;
  padding: 16px;
  align-items: center;

  border-radius: 8px;
  background: #F5F2ED;

  flex-direction: column;
  max-width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 14px;
}

.fr-num-value {
  display: inline-flex;
  height: 22px;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  border-radius: 4px;
  border: 1px solid #DAE8DF;
  background: var(--white, #FFF);
  box-shadow: 0 1px 3px 0 rgba(211, 227, 217, 0.40);
}

.fr-bold {
  color: rgb(51, 51, 51);
  font-weight: 700;
}

.fr-link {
  font-weight: 400;
  text-decoration-line: underline;
}

.button-link {
  background: none !important;
  border: none;
  padding: 0!important;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;

  /* change this color to brand color */
  color: rgb(20, 111, 127);

  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {}
/* quantitative data widget styles: END */

/* qualitative data widget styles: START */
.frontrow-qual-data {
  display: flex;
  padding: 56px 80px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 35px;

  /* TODO: change to light brand color */
  background: rgba(250, 224, 215, 0.70);
}

.fr-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  margin-bottom: 8px;
  text-align: center;
}

.fr-title {
  color: #0F1834;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 0;
}

.fr-header > p {
  align-self: stretch;
  color: #424242;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.fr-header > p > .fr-note {
  display: inline;
}

.fr-note {
  display: none;
}

.quant-data-mobile {
  display: none;
}

.fr-pr-bold {
  font-weight: 800;
}

.fr-review-container {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 48px;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #F7F7F7;
  background: #FFF;
}


.fr-review-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.fr-doctor-img {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  flex-shrink: 0;
  object-fit: cover;
}

.fr-doctor-title {
  color: #0F1834;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.fr-review-header-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fr-review-header-text > .fr-doctor-img {
  display: none;
}

.fr-doctor-local {
  color: var(--grey-800, #424242);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 4px;
}

.fr-review-header-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.fr-review-header-title > .fr-doctor-local {
  display: none;
}

.fr-tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-self: stretch;
}

.fr-tag {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  gap: 8px;

  border-radius: 8px;

  /* gray tags -- can be changed to another light brand color */
  background: rgba(98, 110, 147, 0.10);

  /* font color for icon and text can be changed */
  color: #0F1834;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fr-review-title {
  flex: 1 0 0;
  color: #0F1834;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 8px;
}

.fr-review-text {
  align-self: stretch;
  color: #0F1834;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: -4px;
}

.review-footer {
  width: 100%;
  padding-top: 16px;
  border-top: 1px solid var(--grey-200, #EEE);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: #424242;
}

.review-footer > p {
  margin: 0;
}

.fr-learn-more {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

button.fr-learn-more {
  text-decoration-line: underline;

  display: inline;
  cursor: pointer;
  margin: 0;

  border: none;
  background: none;
  font-size: inherit;
  padding: 0;
}

.fr-learn-more > p {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .fr-review-header-text > .fr-doctor-local {
    display: none;
  }

  .fr-tags {
    margin-top: 12px;
  }

  .fr-review-header-title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
  }

  .fr-review-header-title > .fr-doctor-local {
    display: block;
  }

  .fr-learn-more {
    font-size: 14px;
    line-height: 22px;
  }

  a.fr-learn-more {
    font-size: 14px;
    line-height: 22px;
  }

  .frontrow-qual-data {
    padding: 10px 20px;
  }

  .fr-review-container {
    padding: 24px 20px 32px;
  }

  .fr-tag {
    font-size: 11px;
  }

  .fr-review-title {
    font-size: 16px;
    line-height: 28px;
  }

  .fr-header > p > .fr-note {
    display: none;
  }

  .fr-note {
    display: inline;
    font-size: 13px;
  }

  .fr-header > p {
    font-size: 13px;
  }
}
/* qualitative data widget styles: END */
