<!-- Add a section from the visual editor in shopify - Custom Liquid -->
<!-- Copy and paste the code in this file into the field for custom liquid -->

<div class="frontrow-qual-data" id="frontrow-qual-data">
  <div class="fr-header">
    <h2 class="fr-title">
      What doctors told their patients about our product*
    </h2>
    <p>
      <span class="fr-pr-bold">
        *{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients. This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor
        </div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Tallahassee, FL | September 2023</div>
    </div>

    <div class="fr-review-title">
      This product meets all of my requirements for a supplement…namely the third-party testing for purity and potency
    </div>

    <div class="fr-review-text">
      This product meets all of my requirements for a supplement before I recommend anything to you all, namely the third-party testing for purity and potency, and I trust it more given it’s made in the USA according to FDA manufacturing guidelines. I’d suggest starting this supplement regimen at least six months prior to when you’re trying to conceive — this’ll allow your body to build up essential nutrient stores, maximizing your readiness for hopefully a healthy pregnancy!
    </div>

    <div class="doctor-details-mobile">Tallahassee, FL | September 2023</div>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor</div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Austin, TX | September 2023</div>
    </div>

    <div class="fr-review-title">
      This combination of supplements is thoughtfully crafted to provide comprehensive support
    </div>

    <div class="fr-review-text">
      I really like this Perelel Conception Support Supplement for any of you that are trying to prepare for pregnancy. In particular, its Core Prenatal contains activated folate and choline for fetal neurodevelopment, vitamin D for immune support, and chelated minerals for better absorption, all of which are vital during preconception and pregnancy. It also offers CoQ10 to support egg health and ovulation, while the Omega DHA+EPA capsule aids in brain development and mood support. This combination of supplements is thoughtfully crafted to provide comprehensive support for your reproductive health.
    </div>

    <div class="doctor-details-mobile">Austin, TX | September 2023</div>
  </div>

  <div class="quant-data-mobile">
    <p>
      <span class="fr-pr-bold">*{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients.
    </p>
    <p>
      This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>
  <div class="fr-learn-more">
    <p>Learn more about
      <button class="fr-learn-more" id="frontrow-learn-more-modal">Frontrow Health</button>
      and the full list of doctors they work with
    </p>
  </div>
</div>
