<!-- Add a section from the visual editor in shopify - Custom Liquid -->
<!-- Copy and paste the code in this file into the field for custom liquid -->

<div class="frontrow-qual-data" id="frontrow-qual-data">
  <div class="fr-header">
    <h2 class="fr-title">
      What doctors told their patients about our product*
    </h2>
    <p>
      <span class="fr-pr-bold">
        *{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients. This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor
        </div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <!-- TODO: -->
      <div class="doctor-details">Tallahassee, FL | September 2023</div>
    </div>

    <!-- TODO: -->
    <div class="fr-review-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    </div>

    <!-- TODO: -->
    <div class="fr-review-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <!-- TODO: -->
    <div class="doctor-details-mobile">Tallahassee, FL | September 2023</div>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor</div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <!-- TODO: -->
      <div class="doctor-details">Austin, TX | September 2023</div>
    </div>

    <!-- TODO: -->
    <div class="fr-review-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    </div>

    <!-- TODO: -->
    <div class="fr-review-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <!-- TODO: -->
    <div class="doctor-details-mobile">Austin, TX | September 2023</div>
  </div>

  <div class="quant-data-mobile">
    <p>
      <span class="fr-pr-bold">*{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients.
    </p>
    <p>
      This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>
  <div class="fr-learn-more">
    <p>Learn more about
      <button class="fr-learn-more" id="frontrow-learn-more-modal">Frontrow Health</button>
      and the full list of doctors they work with
    </p>
  </div>
</div>
