{% comment %}
Renders quantitative frontrow widget

Usage:
{% render 'frontrow-widget' %}
{% endcomment %}

<frontrow-widget>
  <div class="frontrow-container">
    <p>
      <span class="fr-num-value">200</span>
      <span class="fr-bold">medical providers
      </span>
      <span class="fr-text">recently shared this with their patients, and were not paid to do so! </span>
      <a href="#frontrow-qual-data" class="fr-link">
        Hear why they shared this product with patients
      </a>
    </p>
  </div>
</frontrow-widget>
