.fr-parent {
  display: flex;
  justify-content: center;
}

.frontrow-container {
  display: flex;
  padding: 16px 24px;

  border-radius: 8px;
  background: rgba(226, 139, 239, 0.21);

  max-width: fit-content;

  line-height: 28px;
  justify-content: center;
  margin-bottom: 100px;

  font-size: 16px;
  text-align: center;
}

.fr-num-value {
  line-height: 24px;
  padding: 2px 6px 4px 6px; /* top, right, bottom, left */
  margin-right: 4px;
  font-weight: 700;

  border-radius: 4px;
  border: 1px solid #DAE8DF;
  background: var(--white, #FFF);
  box-shadow: 0px 1px 3px 0px rgba(211, 227, 217, 0.40);
}

.fr-text {
  color: #212121;
  font-weight: 400;
  line-height: 24px;
}

.fr-bold {
  color: #212121;
  font-weight: 700;
  line-height: 24px;
}

.fr-link {
  display: block;
  color: #212121;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
  .frontrow-container {
    font-size: 14px;
    text-align: left;
  }

  .fr-link {
    display: block;
  }
}
