.fr-qual-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 56px 80px;
  gap: 24px;

  background: #FAFAFA;

  font-family: "sofia-pro", sans-serif;
  color: #212121;
}

.fr-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  margin-bottom: 8px;

  text-align: center;
}

.fr-title {
  margin-bottom: 0;

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #0F1834;
  text-align: center;
}

.fr-header>p {
  max-width: 80%;

  margin: 0;

  color: #322422;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.fr-header.bold {
  display: inline;

  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
}

.fr-reviews {
  background: #FFF;
  border-radius: 16px;
  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);
}

.fr-review-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 32px;
  gap: 24px;

  border-bottom: 1px solid var(--grey-200, #EEE);
}

.fr-review-header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.fr-doctor-img {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  flex-shrink: 0;
  object-fit: cover;
  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);
}

.fr-doctor-title {
  margin: 0;

  color: #0F1834;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fr-review-header-text {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.fr-review-header-text>.fr-doctor-img {
  display: none;
}

.fr-doctor-local {
  margin: 0;
  margin-top: 4px;

  color: #424242;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fr-review-header-title {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
}

.fr-review-header-title>.fr-doctor-local {
  display: none;
}

.fr-tags {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.fr-tag {
  display: flex;
  align-items: center;

  padding: 6px 8px;
  gap: 8px;

  border-radius: 8px;
  background: #EBEBF5;

  color: #0F1834;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;
}

.fr-review-title {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: #0F1834;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.fr-review-text {
  margin-top: -4px;

  color: #0F1834;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.review-footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 16px;

  border-top: 1px solid var(--grey-200, #EEE);

  color: #424242;
  font-size: 14px;
}

.review-footer>p {
  margin: 0;
}

.fr-learn-more {
  display: flex;
  justify-content: center;
  align-items: baseline;

  padding: 12px 20px;
}

.fr-arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 12px;
  padding: 10px;

  border-radius: 100px;
  background-color: #E7FF03;
}

.fr-learn-more>a {
  margin: 0;

  text-decoration: none;
  color: #212121;
}

.fr-learn-more>a>img {
  height: 32px;

  display: inline-flex;

  margin-bottom: -6px;
  margin-right: -6px;
  margin-left: -2px;
}

@media only screen and (max-width: 768px) {
  .fr-review-header-text>.fr-doctor-local {
    display: none;
  }

  .fr-tags {
    margin-top: 12px;
  }

  .fr-review-header-title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 0px;
  }

  .fr-review-header-title>.fr-doctor-local {
    display: block;
  }

  .fr-learn-more {
    font-size: 14px;
    line-height: 22px;
  }

  .fr-qual-container {
    padding: 20px;
  }

  .fr-review-container {
    padding: 24px 20px 32px;
  }

  .fr-tag {
    font-size: 11px;
  }

  .fr-review-title {
    font-size: 16px;
    line-height: 28px;
  }

  .fr-header>p {
    font-size: 13px;
    max-width: 100%;
  }
}
