{% comment %}
Renders quantitative frontrow widget

Usage:
{% render 'frontrow-widget' %}
{% endcomment %}

<frontrow-widget>
  <div class="frontrow-container">
    <p>
      <!-- TODO: change provider count -->
      <span class="fr-num-value">210</span>
      <span class="fr-bold">medical providers
      </span>
      <span class="fr-text" />
      <a href="#frontrow-qual-data" class="fr-link">
        Hear why they shared this product with patients
      </a>
    </p>
  </div>
</frontrow-widget>
