{% comment %}
Renders quantitative frontrow widget

Usage:
{% render 'frontrow-widget' %}
{% endcomment %}

<frontrow-widget>
  {%- if product.metafields.custom.frontrow_provider_count -%}
    <div class="container">
      <p>
        <span class="num-value">{{ product.metafields.custom.frontrow_provider_count }}</span>
        <span class="bold">medical providers
        </span>
        <span class="text" />
        <a href="#frontrow-qual-data" class="link">
          Hear why they shared this product with patients
        </a>
      </p>
    </div>
  {% endif %}
</frontrow-widget>

{% style %}
  .container {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: #F8FBF9;
    background-blend-mode: multiply;

    flex-direction: column;
    max-width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .container > p {
    margin: 0;
  }

  .num-value {
    display: inline-flex;
    height: 22px;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-weight: 700;

    border-radius: 4px;
    border: 1px solid #DAE8DF;
    background: var(--white, #FFF);
    box-shadow: 0 1px 3px 0 rgba(211, 227, 217, 0.40);
  }

  .text {
    flex: 1 0 0;

    color: #212121;
    font-weight: 400;
    line-height: 24px;
  }

  .text:before {
    content: "recently shared this with their patients, and were not paid to do so! "
  }

  .bold {
    color: #212121;
    font-weight: 700;
    line-height: 24px;
  }

  .link {
    color: #212121;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
  }

  @media only screen and (max-width: 768px) {
    .container {
      /* may need to adjust this to make content fit on full lines on mobile */
      font-size: 14px;
    }

    .text {
      line-height: normal;
    }

    .text:before {
      content: "recently shared this with their patients, and were not paid to do so! "
    }

    .bold {
      line-height: normal;
    }

    .link {
      align-self: stretch;
      display: block;
      padding-top: 4px;
    }
  }
{% endstyle %}
