<!-- Add a section from the visual editor in shopify - Custom Liquid -->
<!-- Copy and paste the code in this file into the field for custom liquid -->

<div class="frontrow-qual-data" id="frontrow-qual-data">
  <div class="fr-header">
    <h2 class="h2">
      What doctors told their patients about our product*
    </h2>
    <p>
      <span class="fr-pr-bold">
        *{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients. This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor
        </div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Tallahassee, FL | September 2023</div>
    </div>

    <div class="fr-review-title">
      ...each trimester is a bit different and you and your baby are going to need different nutrients throughout.
    </div>

    <div class="fr-review-text">
      So Perelel takes an interesting multi-stage approach to its prenatals, which I really like because as you’ll see, each trimester is a bit different and you and your baby are going to need different nutrients throughout. Most other prenatal vitamins use a generic approach that may not adequately address these changing requirements. Also, this product meets all of my requirements for a supplement before I recommend anything to you all, namely the third-party testing for purity and potency, and I trust it more given it’s made in the USA according to FDA manufacturing guidelines.
    </div>

    <div class="doctor-details-mobile">Tallahassee, FL | September 2023</div>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor</div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Austin, TX | September 2023</div>
    </div>

    <div class="fr-review-title">
      ...excellent Core Prenatal with activated folate and choline for fetal neurodevelopment, vitamin D for immune support, and chelated minerals for better absorption...
    </div>

    <div class="fr-review-text">
      I like Perelel’s prenatal line because they include this excellent Core Prenatal with activated folate and choline for fetal neurodevelopment, vitamin D for immune support, and chelated minerals for better absorption, all of which are vital during preconception and pregnancy. I also just feel more comfortable sharing this with you because it’s the only prenatal I’ve seen that was developed by an actual OB/GYN. This expertise from fellow MD colleagues gives me more confidence that the ingredients selected are actually high quality and in bioavailable formats, which means they are easier for your body to absorb.
    </div>

    <div class="doctor-details-mobile">Austin, TX | September 2023</div>
  </div>

  <div class="quant-data-mobile">
    <p>
      <span class="fr-pr-bold">*{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients.
    </p>
    <p>
      This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>
  <div class="fr-learn-more">
    <p>Learn more about
      <button class="fr-learn-more" id="frontrow-learn-more-modal">Frontrow Health</button>
      and the full list of doctors they work with
    </p>
  </div>
</div>
