<div class="frontrow-qual-data" id="frontrow-qual-data">
  <div class="fr-header">
    <h1 class="fr-title">
      What doctors told their patients about our product*
    </h1>
    <p>
      These are notes that a few of the <span class="fr-pr-bold">{{ product.metafields.custom.frontrow_provider_count }}</span>
      providers who shared our product wrote to their patients. This data
      was collected by a 3rd party partner, Frontrow Health.
      <span class="fr-note">These notes do not constitute general medical
        advice.</span>
    </p>
  </div>

  <div class="fr-review-container">
    <div class="fr-review-header">
      <img class="fr-doctor-img"
        alt="physician-from-tallahassee"
        src="https://d27e8ryqi05ra2.cloudfront.net/lxt0ogfeczx9536g7rpgddlxd5di">
      <div class="fr-review-header-text">
        <div class="fr-review-header-title">
          <p class="fr-doctor-title">Physician from Tallahassee, FL</p>
          <p class="fr-doctor-local">Tallahassee Memorial Hospital</p>
          <div class="fr-tags">
            <div class="fr-tag"><i class="fa fa-check-circle"></i> Verified
              physician</div>
            <div class="fr-tag">30+ years in practice</div>
          </div>
        </div>
        <p class="fr-doctor-local">Tallahassee Memorial Hospital</p>
      </div>
    </div>

    <div class="fr-review-title">
      This cane is actually very versatile with eight height adjustments, allowing for a custom fit...
    </div>

    <div class="fr-review-text">
      This cane is actually very versatile with eight height adjustments, allowing for a custom fit (most of your caretakers have told me that other canes don’t fit your height perfectly so I tried to find one that’s flexible). Also for some of you all that are struggling with obesity, this is very durable as it's tested to support more weight than other canes on the market (a few of my patients actually had a walking cane break because it wasn’t durable, so this was a key feature for me in my choice to add this product).
    </div>

    <div class="review-footer">
      <p><em>Not paid to share product</em></p>
      <p>September 2023</p>
    </div>
  </div>

  <div class="fr-review-container">
    <div class="fr-review-header">
      <img class="fr-doctor-img"
        alt="physician-from-tallahassee"
        src="https://d27e8ryqi05ra2.cloudfront.net/lxt0ogfeczx9536g7rpgddlxd5di">
      <div class="fr-review-header-text">
        <div class="fr-review-header-title">
          <p class="fr-doctor-title">Physician from Tallahassee, FL</p>
          <p class="fr-doctor-local">Tallahassee Memorial Hospital</p>
          <div class="fr-tags">
            <div class="fr-tag"><i class="fa fa-check-circle"></i> Verified
              physician</div>
            <div class="fr-tag">30+ years in practice</div>
          </div>
        </div>
        <p class="fr-doctor-local">Tallahassee Memorial Hospital</p>
      </div>
    </div>

    <div class="fr-review-title">
      I’d choose this over other walking canes...offering greater stability compared to traditional canes
    </div>

    <div class="fr-review-text">
      I’d choose this over other walking canes to share with me elderly patients specifically because of its unique three-point contact design and pivoting base which basically mimics the natural motion of your ankle, offering greater stability compared to traditional canes. Its wider base and large ergonomic handle ensure you have a secure grip and can stand on various surfaces, including carpet.
    </div>

    <div class="review-footer">
      <p><em>Not paid to share product</em></p>
      <p>September 2023</p>
    </div>
  </div>

  <p class="fr-note">
    *These notes do not constitute general medical advice.
  </p>

  <div class="fr-learn-more">
    <p>Learn more about <a class="fr-learn-more"
      href="https://app.thefrontrowhealth.com?utm_source=255&utm_medium={{ product.metafields.custom.frontrow_product_id }}&utm_campaign=brands_website&utm_content=qual" target="_blank">Frontrow
        Health</a> and the full list of doctors they work with</p>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .frontrow-qual-data {
    display: flex;
    padding: 56px 80px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .fr-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 8px;
    text-align: center;
  }

  .fr-title {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 0;
  }

  .fr-header > p {
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }

  .fr-header > p > .fr-note {
    display: inline;
  }

  .fr-note {
    display: none;
  }

  .quant-data-mobile {
    display: none;
  }

  .fr-pr-bold {
    font-weight: 800;
    font-family: 'Archivo';
  }

  .fr-review-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #F7F7F7;
    background: #FFF;
  }


  .fr-review-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .fr-doctor-img {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .fr-doctor-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    font-family: 'Archivo';
  }

  .fr-review-header-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .fr-review-header-text > .fr-doctor-img {
    display: none;
  }

  .fr-doctor-local {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 4px;
  }

  .fr-review-header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    align-items: center;
  }

  .fr-review-header-title > .fr-doctor-local {
    display: none;
  }

  .fr-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    align-self: stretch;
  }

  .fr-tag {
    display: flex;
    padding: 6px 8px;
    align-items: center;
    gap: 8px;

    border-radius: 8px;

    background: rgba(98, 110, 147, 0.10);

    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .fr-review-title {
    flex: 1 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 8px;
    font-family: 'Archivo';
  }

  .fr-review-text {
    align-self: stretch;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -4px;
  }

  .review-footer {
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid var(--grey-200, #EEE);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }

  .review-footer > p {
    margin: 0;
  }

  .fr-learn-more {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  a.fr-learn-more {
    color: rgba(14, 27, 77, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    text-decoration-line: underline;

    display: inline-block;
    font-family: 'Archivo';
  }

  .fr-learn-more > p {
    margin-top: 0;
  }

  @media only screen and (max-width: 768px) {
    .fr-review-header-text > .fr-doctor-local {
      display: none;
    }

    .fr-tags {
      margin-top: 12px;
    }

    .fr-review-header-title {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0px;
    }

    .fr-review-header-title > .fr-doctor-local {
      display: block;
    }

    .fr-learn-more {
      font-size: 14px;
      line-height: 22px;
    }

    a.fr-learn-more {
      font-size: 14px;
      line-height: 22px;
    }

    .frontrow-qual-data {
      padding: 10px 20px;
    }

    .fr-review-container {
      padding: 24px 20px 32px;
    }

    .fr-tag {
      font-size: 11px;
    }

    .fr-review-title {
      font-size: 16px;
      line-height: 28px;
    }

    .fr-header > p > .fr-note {
      display: none;
    }

    .fr-note {
      display: inline;
      font-size: 13px;
    }

    .fr-header > p {
      font-size: 13px;
    }
  }
</style>
