<link rel="stylesheet" href="https://use.typekit.net/ncy3pbi.css">

<style>
  .fr-qual-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 56px 80px;
    gap: 24px;

    background: #FAFAFA;

    font-family: "sofia-pro", sans-serif;
    color: #212121;
  }

  .fr-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    margin-bottom: 8px;

    text-align: center;
  }

  .fr-title {
    margin-bottom: 0;

    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #0F1834;
    text-align: center;
  }

  .fr-header>p {
    max-width: 80%;

    margin: 0;

    color: #322422;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .fr-header.bold {
    display: inline;

    font-family: "sofia-pro", sans-serif;
    font-weight: 600;
  }

  .fr-reviews {
    background: #FFF;
    border-radius: 16px;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);
  }

  .fr-review-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 32px;
    gap: 24px;

    border-bottom: 1px solid var(--grey-200, #EEE);
  }

  .fr-review-header {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
  }

  .fr-doctor-img {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    flex-shrink: 0;
    object-fit: cover;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);
  }

  .fr-doctor-title {
    margin: 0;

    color: #0F1834;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .fr-review-header-text {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .fr-review-header-text>.fr-doctor-img {
    display: none;
  }

  .fr-doctor-local {
    margin: 0;
    margin-top: 4px;

    color: #424242;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .fr-review-header-title {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
  }

  .fr-review-header-title>.fr-doctor-local {
    display: none;
  }

  .fr-tags {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
  }

  .fr-tag {
    display: flex;
    align-items: center;

    padding: 6px 8px;
    gap: 8px;

    border-radius: 8px;
    background: #EBEBF5;

    color: #0F1834;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
  }

  .fr-review-title {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #0F1834;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }

  .fr-review-text {
    margin-top: -4px;

    color: #0F1834;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }

  .review-footer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 16px;

    border-top: 1px solid var(--grey-200, #EEE);

    color: #424242;
    font-size: 14px;
  }

  .review-footer>p {
    margin: 0;
  }

  .fr-learn-more {
    display: flex;
    justify-content: center;
    align-items: baseline;

    padding: 12px 20px;
  }

  .fr-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-left: 12px;
    padding: 10px;

    border-radius: 100px;
    background-color: #E7FF03;
  }

  .fr-learn-more>a {
    margin: 0;

    text-decoration: none;
    color: #212121;
  }

  .fr-learn-more>a>img {
    height: 32px;

    display: inline-flex;

    margin-bottom: -6px;
    margin-right: -6px;
    margin-left: -2px;
  }

  @media only screen and (max-width: 768px) {
    .fr-review-header {
      align-items: flex-start;
    }

    .fr-review-header-text>.fr-doctor-local {
      display: none;
    }

    .fr-tags {
      margin-top: 12px;
    }

    .fr-review-header-title {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      gap: 0px;
    }

    .fr-review-header-title>.fr-doctor-local {
      display: block;
    }

    .fr-learn-more {
      font-size: 14px;
      line-height: 22px;
    }

    .fr-qual-container {
      padding: 20px;
    }

    .fr-review-container {
      padding: 24px 20px 32px;
    }

    .fr-tag {
      font-size: 11px;
    }

    .fr-review-title {
      font-size: 16px;
      line-height: 28px;
    }

    .fr-header>p {
      font-size: 13px;
      max-width: 100%;
    }

    .fr-learn-more>a {
      text-align: center;
    }

    .fr-arrow {
      padding: 8px;
      margin-left: 6px;
    }
  }
</style>

<div class="fr-qual-container" id="frontrow-qual-data">
  <div class="fr-header">
    <h1 class="fr-title">
      What providers told their patients about our product
    </h1>
    <p>
      Here are notes that some of the
      <span class="fr-header bold">{{ product.metafields.custom.frontrow_provider_count }} providers</span>
      wrote to their own patients about our products. Providers don't get
      paid to share our product, and these notes do not constitute general
      medical advice.
    </p>
  </div>

  <div class="fr-reviews">
    <div class="fr-review-container">
      <div class="fr-review-header">
        <img class="fr-doctor-img"
          alt="physician-from-tallahassee"
          src="https://d27e8ryqi05ra2.cloudfront.net/lxt0ogfeczx9536g7rpgddlxd5di">
        <div class="fr-review-header-text">
          <div class="fr-review-header-title">
            <p class="fr-doctor-title">Physician from Tallahassee, FL</p>
            <p class="fr-doctor-local">Tallahassee Memorial Hospital</p>
            <div class="fr-tags">
              <div class="fr-tag">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" viewBox="0 0 10 13" fill="none"><path d="M3.81818 9.44895L1.63636 7.26713L2.40545 6.49804L3.81818 7.90532L7.41273 4.31077L8.18182 5.08532M4.90909 0.72168L0 2.9035V6.17623C0 9.2035 2.09455 12.0344 4.90909 12.7217C7.72364 12.0344 9.81818 9.2035 9.81818 6.17623V2.9035L4.90909 0.72168Z" fill="#212121" /></svg>
                Verified physician
              </div>
              <div class="fr-tag">35+ years in practice</div>
            </div>
          </div>
          <p class="fr-doctor-local">Tallahassee Memorial Hospital</p>
        </div>
      </div>

      <div class="fr-review-title">
        This not only enhances the skin's structural integrity but also counteracts the age-related inflammation that plagues many of my patients.
      </div>

      <div class="fr-review-text">
        Veracity takes an interesting approach here, utilizing an advanced peptide technology, (specifically – Copper Lysinate and Bis (Tripeptide-1) Copper Acetate in the BioEvolve Serum). Peptides, due to their small molecular size, basically penetrate the skin more effectively and play a pivotal role in promoting collagen and elastin production. This not only enhances the skin's structural integrity but also counteracts the age-related inflammation that plagues many of my patients. It is fairly well-established that stimulating collagen and elastin synthesis is a fundamental approach to combating the signs of aging.
      </div>
    </div>

    <div class="fr-review-container">
      <div class="fr-review-header">
        <img class="fr-doctor-img"
          alt="physician-from-austin"
          src="https://d27e8ryqi05ra2.cloudfront.net/3m260y6xqs81igh39201utv0wsl6">
        <div class="fr-review-header-text">
          <div class="fr-review-header-title">
            <p class="fr-doctor-title">Physician from Austin, TX</p>
            <p class="fr-doctor-local">Private clinic</p>
            <div class="fr-tags">
              <div class="fr-tag">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="13" viewBox="0 0 10 13" fill="none"><path d="M3.81818 9.44895L1.63636 7.26713L2.40545 6.49804L3.81818 7.90532L7.41273 4.31077L8.18182 5.08532M4.90909 0.72168L0 2.9035V6.17623C0 9.2035 2.09455 12.0344 4.90909 12.7217C7.72364 12.0344 9.81818 9.2035 9.81818 6.17623V2.9035L4.90909 0.72168Z" fill="#212121" /></svg>
                Verified physician
              </div>
              <div class="fr-tag">30+ years in practice</div>
            </div>
          </div>
          <p class="fr-doctor-local">Private clinic</p>
        </div>
      </div>

      <div class="fr-review-title">
        ...it more importantly offers protection from UV rays. This shows that the product isn't just about cosmetic benefits but also safeguarding your skin from external ‘aggressors’...
      </div>

      <div class="fr-review-text">
        I really like this skincare set for you all because the Garland Lily Extract in the BioEvolve Serum in particular doesn't just enhance your skin's appearance, but it more importantly offers protection from UV rays. This shows that the product isn't just about cosmetic benefits but also safeguarding your skin from external ‘aggressors’ like the sun's harmful effects. In addition, ingredients like Copper Lysinate and Bis (Tripeptide-1) Copper Acetate in the BioEvolve Serum combat inflammation that naturally happens as you grow older.
      </div>
    </div>

    <div class="fr-learn-more">
      <!-- TODO: add params to link -->
      <a href="https://app.thefrontrowhealth.com">
        Learn more about
        <img src="https://d3t5bph07okpxr.cloudfront.net/test-svg-logo.svg" />
        and see their full list of medical provider partners
        <span class="fr-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 15 15" fill="none"><path d="M11.0838 8.59664L0.433349 8.59664L0.433349 6.84664L11.0838 6.84664L6.39035 2.15314L7.6276 0.915893L14.4333 7.72164L7.6276 14.5274L6.39035 13.2901L11.0838 8.59664Z" fill="#212121" stroke="#212121" stroke-width="0.35" /></svg>
        </span>
      </a>
    </div>
  </div>
</div>
