<div class="frontrow-qual-data" id="frontrow-qual-data">
  <div class="fr-header">
    <h1 class="fr-title">
      What doctors told their patients about our product*
    </h1>
    <p>
      <span class="fr-pr-bold">
        *340</span>
      medical providers recently shared our product with patients. This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor
        </div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Tallahassee, FL | September 2023</div>
    </div>

    <div class="fr-review-title">
      Unlike other fertility tracking methods that rely on qualitative or subjective assessments, Mira gives you easy-to-understand numeric data...
    </div>

    <div class="fr-review-text">
      Mira is designed to offer precise and numeric measurements of key hormones involved in fertility, including LH (Luteinizing Hormone), E3G (Estriol-3-Glucuronide), and PdG (Progesterone-3-Glucuronide). These measurements are provided with lab-grade accuracy (the studies I reviewed demonstrated 5-8 times higher sensitivity and dynamic range than some competitive products). These metrics underscore its ability to provide consistent and reliable hormone data. Unlike other fertility tracking methods that rely on qualitative or subjective assessments, Mira gives you easy-to-understand numeric data that reflects your true hormone levels. This can be immensely helpful in predicting your fertile window and ovulation day, which are critical for those trying to conceive.
    </div>

    <div class="doctor-details-mobile">Tallahassee, FL | September 2023</div>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor</div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Austin, TX | September 2023</div>
    </div>

    <div class="fr-review-title">
      Mira may be particularly useful for those of you facing specific fertility challenges like PCOS...
    </div>

    <div class="fr-review-text">
      Mira may be particularly useful for those of you facing specific fertility challenges like PCOS, which can be common for many of my patients. For example, the data I reviewed demonstrated that the pregnancy rate of people with PCOS who used Mira for 3 cycles achieved almost double the pregnancy rate (~52% vs. ~26%). The reason why Mira’s able to do this as compared to other Ovulation Predictor Kits (OPKs) is because it provides actual hormone concentrations (vs. just qualitative results). In many cases of PCOS, elevated levels of Luteinizing Hormone (LH) are common. Traditional OPKs might consistently show positive results due to the consistently high LH levels in PCOS. This can make it challenging to pinpoint the fertile window accurately. Mira presents your actual hormone levels, meaning that even when baseline LH levels are elevated, Mira allows you to visualize your hormone levels over time, creating a hormonal curve. This curve provides a more comprehensive and precise view of your hormonal fluctuations.
    </div>

    <div class="doctor-details-mobile">Austin, TX | September 2023</div>
  </div>

  <div class="quant-data-mobile">
    <p>
      <span class="fr-pr-bold">*340</span>
      medical providers recently shared our product with patients.
    </p>
    <p>
      This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>

  <div class="fr-learn-more">
    <p>Learn more about
      <a
        class="fr-learn-more"
        href="https://thefrontrowhealth.com/overview/"
        target="_blank">Frontrow Health</a>
      and the full list of doctors they work with
    </p>
  </div>
</div>
