<!-- Add a section from the visual editor in shopify - Custom Liquid -->
<!-- Copy and paste the code in this file into the field for custom liquid -->

<div class="frontrow-qual-data" id="frontrow-qual-data">
  <div class="fr-header">
    <h2 class="h2">
      What doctors told their patients about our product*
    </h2>
    <p>
      <span class="fr-pr-bold">
        *{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients. This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor
        </div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Tallahassee, FL | September 2023</div>
    </div>

    <div class="fr-review-title">
      ...this is just a very well-rounded product / approach to helping you all that struggle with hormonal balance and PCOS in particular.
    </div>

    <div class="fr-review-text">
      This includes a pretty well-researched blend of key components, including Myo-Inositol, D-Chiro-Inositol, Berberine, DIM, and Alpha-Lipoic-Acid. Each of these ingredients serves a specific purpose in managing PCOS. Here’s my quick breakdown of a few of these: Myo-inositol is pivotal for regulating insulin – with approximately 30% of women with PCOS at a higher risk of insulin resistance, it's crucial to address this issue. D-chiro-inositol contributes to hormonal balance as well as blood pressure regulation (key factors in PCOS management). I also like that they included Berberine to reduce the body's inflammatory response. Ultimately, this is just a very well-rounded product / approach to helping you all that struggle with hormonal balance and PCOS in particular.
    </div>

    <div class="doctor-details-mobile">Tallahassee, FL | September 2023</div>
  </div>

  <div class="fr-review-container">
    <div class="fr-tag-row">
      <div class="fr-tags">
        <div class="fr-tag">
          <i class="fa fa-check-circle"></i>
          Verified doctor</div>
        <div class="fr-tag">Not paid to share product</div>
      </div>

      <div class="doctor-details">Austin, TX | September 2023</div>
    </div>

    <div class="fr-review-title">
      What really sets this product apart is its use of the optimal Myo-inositol to D-chiro-inositol ratio, which is supported by scientific studies for restoring ovulation.
    </div>

    <div class="fr-review-text">
      What really sets this product apart is its use of the optimal Myo-inositol to D-chiro-inositol ratio, which is supported by scientific studies for restoring ovulation. This balance of inositols acts as a second messenger for insulin and the follicle-stimulating hormone (FSH), helping to regulate hormonal balance, menstrual cycles, ovulation, and mood. The D-chiro-inositol component contributes to balancing hormones, blood sugar levels, and blood pressure, which are vital aspects of PCOS management. The formulation is based on a ratio of 40:1, according to research, making it one of the few products on the market that adheres to this precise balance.
    </div>

    <div class="doctor-details-mobile">Austin, TX | September 2023</div>
  </div>

  <div class="quant-data-mobile">
    <p>
      <span class="fr-pr-bold">*{{ product.metafields.custom.frontrow_provider_count }}</span>
      medical providers recently shared our product with patients.
    </p>
    <p>
      This data was collected by a 3rd party. Providers are never paid (in any way) to share our product. These providers remain anonymous because they are not publicly marketing our product. These were notes they wrote to their own patients, and do not constitute medical advice.
    </p>
  </div>
  <div class="fr-learn-more">
    <p>Learn more about
      <button class="fr-learn-more" id="frontrow-learn-more-modal">Frontrow Health</button>
      and the full list of doctors they work with
    </p>
  </div>
</div>
