<frontrow-widget>
  <link rel="stylesheet" href="https://use.typekit.net/ncy3pbi.css">

  <style>
    .fr-quant-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      padding: 16px;
      gap: 14px;

      border-radius: 8px;
      box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);

      font-family: "sofia-pro", sans-serif;
      color: #212121;

      background-color: #fff;
    }

    .fr-provider-sample {
      flex-shrink: 0;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
    }

    .fr-img-sample {
      width: 36px;
      height: 36px;

      object-fit: cover;

      border: 2px #F8FBF9 solid;
      border-radius: 100px;
      box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);
    }

    .fr-sample {
      width: 36px;
      height: 36px;

      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-left: -14px;

      background: rgba(197, 197, 253, 0.93);
      border: 2px #F8FBF9 solid;
      border-radius: 100px;
      backdrop-filter: blur(4px);

      font-family: "sofia-pro", sans-serif;
    }

    .fr-sample>p {
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
      margin:0;
      font-family: "sofia-pro", sans-serif !important;
    }

    .fr-quant-col {
      display: flex;
      flex-direction: column;
    }

    .fr-quant-col>p {
      margin: 0;
      font-family: "sofia-pro", sans-serif !important;
      text-align: left;
      font-size: 16px;
      line-height: 28px;
    }

    .fr-quant-col.bold {
      display: inline;

      color: #424242;
      font-weight: 600;
      font-family: "sofia-pro", sans-serif;
    }

    .fr-quant-col.regular {
      display: inline;

      color: #424242;
      font-weight: 300;
      font-family: "sofia-pro", sans-serif;
    }

    .hear-why {
      color: #212121;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;

      margin-top: 6px;
      font-family: "sofia-pro", sans-serif;
      text-align: left;
    }

    .fr-link>img {
      height: 20px;
      vertical-align: baseline;
    }

    .fr-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      margin-left: 12px;
      padding: 10px;

      border-radius: 100px;
      background-color: #E7FF03;
    }
  </style>

  <div class="fr-quant-container">
    <div class="fr-provider-sample">
      <img class="fr-img-sample"
        src="https://d27e8ryqi05ra2.cloudfront.net/3m260y6xqs81igh39201utv0wsl6" />
      <img class="fr-img-sample"
        src="https://d27e8ryqi05ra2.cloudfront.net/lxt0ogfeczx9536g7rpgddlxd5di"
        style="margin-left:-14px;" />
      <div class="fr-sample"><p>+298</p></div>
    </div>

    <div class="fr-quant-col">
      <p>
        <span class="fr-quant-col bold"> 300 medical providers </span>
        <span class="fr-quant-col regular">
          recently shared this product with their patients on
          <a href="#" class="fr-link" id="frontrow-learn-more-modal">
            <img src="https://d3t5bph07okpxr.cloudfront.net/test-svg-logo.svg" />
          </a>
        </span>
      </p>

      <a href="#frontrow-qual-data" class="hear-why">
        Hear why they did
        <span class="fr-arrow" style="margin-left:8px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 15 15" fill="none"><path d="M11.0838 8.59664L0.433349 8.59664L0.433349 6.84664L11.0838 6.84664L6.39035 2.15314L7.6276 0.915893L14.4333 7.72164L7.6276 14.5274L6.39035 13.2901L11.0838 8.59664Z" fill="#212121" stroke="#212121" stroke-width="0.35" /></svg>
        </span>
      </a>
    </div>
  </div>
</frontrow-widget>
