<div class="frontrow-container">
  <p>
    <span class="fr-num-value">120</span>
    <span class="fr-bold"> medical providers </span>
    <span class="fr-text"> recently shared this with their patients, and were not paid to do so! </span>
    <a
      href="https://thefrontrowhealth.com/overview?utm_source=200&utm_medium=383&utm_campaign=brands_website&utm_content=quant"
      class="fr-link"
      target="_blank"
    >
      Learn more from our partner
    </a>
  </p>
</div>

<style>
  .frontrow-container {
    display: flex;
    padding: 16px;
    align-items: center;

    border-radius: 8px;
    background: #fee4cd;

    flex-direction: column;
    max-width: 100%;

    margin-bottom: 1rem;
  }

  .frontrow-container > p {
    margin: 0;
  }

  .fr-num-value {
    display: inline-flex;
    height: 22px;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    border-radius: 4px;
    background: var(--white, #FFF);
    box-shadow: 0 1px 3px 0 rgba(211, 227, 217, 0.40);
  }

  .fr-bold {
    color: rgb(51, 51, 51);
    font-weight: 700;
  }

  .fr-link {
    font-weight: 400;
    text-decoration-line: underline;
  }

  @media only screen and (max-width: 768px) {}
</style>
